.todo {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  background-color: #262626;
  width: 736px;
  height: 72px;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #0d0d0d;
  margin-bottom: 12px;
  padding: 16px 16px 0 19px;
}

.title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  width: 632px;
  height: 40px;
  color: #f2f2f2;
}
