.todo {
  display: flex;
  justify-content: center;
}
.wrapper {
  background-color: #262626;
  min-width: Fill (736px) px;
  min-height: Hug (72px) px;
  padding: 16px 0px 0px 0px;
  gap: 12px;
  border-radius: 8px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.title {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  width: 632px;
  height: 40px;
  color: #f2f2f2;
}
